In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
fake=pd.read_csv("Fake.csv")
true=pd.read_csv("True.csv")

In [3]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake['class']=0
true['class']=1

In [6]:
fake.shape,true.shape

((23481, 5), (21417, 5))

In [7]:
fake_data=fake.tail(10)
for i in range(23480,23470,-1):
    fake.drop([i],axis=0,inplace=True)

In [8]:
true_data=true.tail(10)
for i in range(21416,21406,-1):
    true.drop([i],axis=0,inplace=True)

In [9]:
fake.shape,true.shape

((23471, 5), (21407, 5))

In [10]:
fake_data['class']=0
true_data['class']=1

C:\Users\Harini T\AppData\Local\Temp\ipykernel_6804\3149587639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_data['class']=0
C:\Users\Harini T\AppData\Local\Temp\ipykernel_6804\3149587639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  true_data['class']=1

In [11]:
fake_data.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [12]:
true_data.head()

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1

In [13]:
data_merge=pd.concat([fake_data,true_data],axis=0)
data_merge.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [14]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [14]:
data=data_merge.drop(['title','subject','date'],axis=1)

In [15]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [16]:
data=data.sample(frac=1)

In [17]:
data.head()

                                                    text  class
23478  Patrick Henningsen  21st Century WireRemember ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1
23480  21st Century Wire says As 21WIRE predicted in ...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1

In [18]:
data.reset_index(inplace=True)
data.drop(['index'],axis=1,inplace=True)

In [19]:
data.columns

Index(['text', 'class'], dtype='object')

In [20]:
data.head()

                                                text  class
0  Patrick Henningsen  21st Century WireRemember ...      0
1  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1
2  21st Century Wire says As 21WIRE predicted in ...      0
3  MOSCOW (Reuters) - Vatican Secretary of State ...      1
4  MINSK (Reuters) - In the shadow of disused Sov...      1

In [30]:
import re
import string
def word(text):
    text=text.lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub("\\W"," ",text)
    text=re.sub("https?://\S+www\.\$+"," ",text)
    text=re.sub("<.*?>+","",text)
    text=re.sub('[%s]' %re.escape(string.punctuation),'',text)
    text=re.sub('\n','',text)
    text=re.sub('\w\d\w','',text)
    return text

In [31]:
data['text']=data['text'].apply(word)

In [32]:
x=data['text']
y=data['class']

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=5)

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector=TfidfVectorizer()
xv_train=vector.fit_transform(x_train)
xv_test=vector.transform(x_test)

In [35]:
from sklearn.linear_model import LogisticRegression
L=LogisticRegression()

In [36]:
L.fit(xv_train,y_train)

LogisticRegression()

In [37]:
predict=L.predict(xv_test)

In [38]:
L.score(xv_test,y_test)

1.0

In [39]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         2

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5

In [40]:
from sklearn.tree import DecisionTreeClassifier
D=DecisionTreeClassifier()
D.fit(xv_train,y_train)

DecisionTreeClassifier()

In [41]:
predicted=D.predict(xv_test)

In [42]:
D.score(xv_test,y_test)

1.0

In [43]:
print(classification_report(y_test,predicted))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         2

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5

In [44]:
from sklearn.ensemble import GradientBoostingClassifier
GB=GradientBoostingClassifier(random_state=0)
GB.fit(xv_train,y_train)

GradientBoostingClassifier(random_state=0)

In [45]:
prediction=GB.predict(xv_test)

In [46]:
GB.score(xv_test,y_test)

1.0

In [47]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         2

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5

In [48]:
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier(random_state=0)
RF.fit(xv_train,y_train)

RandomForestClassifier(random_state=0)

In [49]:
predicting=RF.predict(xv_test)

In [50]:
RF.score(xv_test,y_test)

1.0

In [51]:
print(classification_report(y_test,predicting))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         2

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5

In [52]:
def output(n):
    if n==0:
        return "Fake News"
    elif n==1:
        return "Not a Fake News"
def manual(news):
    testing={"text":[news]}
    new=pd.DataFrame(testing)
    new["text"]=new["text"].apply(word)
    new_xtest=new["text"]
    new_xv_test=vector.transform(new_xtest)
    pred_l=L.predict(new_xv_test)
    pred_d=D.predict(new_xv_test)
    pred_g=GB.predict(new_xv_test)
    pred_r=RF.predict(new_xv_test)
    return print("\n\nL Prediction:{}\n D Prediction:{}\n GB Prediction:{}\n RF Prediction:{}".format(output(pred_l[0]),
                                                                                                     output(pred_d[0]),
                                                                                                     output(pred_g[0]),
                                                                                                     output(pred_r[0])))

In [53]:
news=str(input())
manual(news)

Elon Musk's Tesla, in a bid to diversify its supply chain beyond China, has eyed India as the next potential spot of manufacturing. A group of senior Tesla executives next week will reportedly meet officials in Prime Minister Narendra Modi's administration.


L Prediction:Not a Fake News
 D Prediction:Not a Fake News
 GB Prediction:Not a Fake News
 RF Prediction:Not a Fake News